* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f5f9; 
    color: #333;
}

header {
    background-color: #1e3a4c; 
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin-bottom: 20px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #e3f2fd; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
select {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
    outline: none;
    border-color: #1e3a4c; 
}

button {
    padding: 10px 20px;
    background-color: #1e3a4c; 
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0d2b3e;
}

input[type="text"][readonly] {
    background-color: #f0f5f9; 
    cursor: not-allowed;
}

@media only screen and (max-width: 600px) {
    section {
        padding: 15px;
    }
}