* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #b6e4a8;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

h1, h3 {
    margin-bottom: 10px;
}

section {
    background-color: #fff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="number"],
input[type="text"] {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="number"]:focus,
input[type="text"]:focus {
    outline: none;
    border-color: #b7f59e; 
}

button {
    padding: 15px 30px;
    background-color: #9ea09f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #a6ecfd; 
}

#resultado {
    margin-top: 20px;
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    section {
        padding: 15px;
    }
}