body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #b8b8b8;
    color: rgb(0, 0, 0); 
}

header h1 {
    margin-bottom: 10px;
}

header h2 {
    margin-bottom: 5px;
}

header h3 {
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #adacac; 
    padding: 8px 12px; 
    border-radius: 5px; 
    background-color: #000000; 
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #88f5f55e;
}

section {
    flex: 1;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #cacaca; 
    color: rgb(34, 34, 34); 
    flex-shrink: 0; 
}